// Colors
$bg-color: hsl(0,10%,5%);
$dot-color: hsl(256,10%,50%);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
body {
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;
}
.dot-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.terminal {
  width: 90%;
  height: 90%;
  background-color: #1E1E1E;
  border-radius: 10px;
  border: 1px solid #404042;
}

.dock {
  position: absolute;
  bottom: 3px;
  height: 60px;
  z-index: 12;
  width: 300px;
  min-height: 50px;
}

.dock-bg {
  position: absolute;
  bottom: 0;
  background-color: #7c7c7c;
  opacity: 0.5;
  height: 60px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid black;
}

.dock .app {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.app .active {
  background-color: transparent;
  color: #c0c0c0;
  position: absolute;
  z-index: 10;
  font-size: 2em;
  width: 100%;
  height: 100%;
  top: 10px;
  overflow: hidden;
}

.app .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.app .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
}

.app:hover .tooltiptext {
  visibility: visible;
}

.notes {
  width: 90%;
  height: 90%;
  color: white;
  border-radius: 10px;
  border: 1px solid #404042;
}

.notes .header {
  height: 30px;
  background-color: #2c2c2c;
  border-bottom: 1px solid black;
  padding-left: 8px;
}

.bb-lr-10 {
  border-top-right-radius: 10px;
}

.bt-lr-10 {
  border-top-left-radius: 10px;
}

.articles {
  width: 20%;
  background-color: #232323;
  border-right: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.note {
  background-color: #1e1e1e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
  flex-grow: 1;
}

.terminal .header {
  background-color: #323435;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.terminal .tab-head {
  background-color: #1E1E1E;
  height: 30px;
  color: #fff;
  font-size: 13px;
  box-shadow: 0 1px #161716;
}

.terminal .screen {
  background-color: #1E1E1E;
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 60px);
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.terminal .screen::-webkit-scrollbar {
  display: none;
}

.command .time {
  color: #D6482D;
  font-weight: bold;
}

.text-output .folders {
  color: #7cc1d1;
}

.text-output {
  color: #fff;
  word-spacing: 30px;
}

.text-output .out {
  word-spacing: 3px;
}

.location {
  color: #42c432;
  font-size: 14px;
}

.tab-head .tab {
  height: 100%;
}

.tab-head .tab:hover {
  background-color: #2A2C2D;
}

.tab-head .active {
  background-color: #323435;
}

.buttons {
  width: 60px;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
}

.buttons .close {
  background-color: #FF5E56;
  color: #FF5E56;
}
.buttons .min {
  background-color: #FDBC2F;
  color: #FDBC2F;
}
.buttons .max {
  background-color: #2BC840;
  color: #2BC840;
}

.buttons:hover .close {
  color: #000;
}
.buttons:hover .min {
  color: #000;
}
.buttons:hover .max {
  color: #000;
}

.s-15 {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.command-input {
  background-color: transparent;
  width: 80vw;
}

.command-input:focus {
  outline: none;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.notes .titles {
  width: 100%;
  padding: 8px;
}

.titles .title {
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
}

.titles .title .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titles .title .date {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titles .active {
  background-color: #9b833a;
}

.me {
  background-image: url('/me.png');
  background-size: contain;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-container {
  position: relative;
  cursor: pointer;
}

.blurry {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.reveal-text {
  position: absolute;
  top: 80px;
  width: 200px;
  text-align: center;
  font-size: 11px;
  word-spacing: 3px;
}

.updated-at {
  color: #5c5c5c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 12px;
}

article {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 60px);
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
